*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    }
    
    .fl{
        float: left;
    }
    
    .fr{
        float:right;
    }
    
    .clearfix::after{
        content: "";
        display: table;
        clear: both;
    }
    
    .bar{
        width: 100%;
        background: rgb(255, 255, 255);
        height: 100px;
    }
    
    .dropbox-logo{
        width: 10%;
        padding: 30px 0px 0px 40px;
        line-height: 25px;
    }
    
    .sx-menu{
        width: 25%;
        padding: 30px 0px 0px 40px;
        line-height: 25px;
    }
    
    .sx-menu ul li{
        list-style: none;
        display: inline-block;
        margin-right: 30px;
        font-size: 20px;
    }
    
    .dx-menu{
        width: 25%;
        padding: 30px 0px 0px 40px;
        line-height: 25px;
    }
    
    .dx-menu ul li{
        list-style: none;
        display: inline-block;
        margin-right: 30px;
        font-size: 20px;
    }
    
    .dx-button{
        width: 120px ;
        height: 45px;
        background-color: #3B96FF;
        line-height: 45px;
        margin: 20px;
        text-align: center;
        color: white;
    }
    
    
    .first-container{
        padding-top: 40px;
        height: 800px;
        background: #B4D0E7;
        max-width: 100%;
        padding-left: 200px;
    }
    
    .sub-container{
        width: 70%;
        height: 700px;
        margin: 0 auto;
    }
    
    .first-container .sub-container h1{
        font-size: 70px;
    }
    
    .box-sx{
        width: 30%;
        font-size: 30px;
        padding-top: 50px;
    }
    
    .central-button{
        width: 300px;
        height: 50px;
        background-color: #0077ff;
        line-height: 50px;
        text-align: center;
        color: white;
        margin-top: 30px;
    }
    
    
    .first-container .sub-container .central-button,.void{
        font-size: 20px;
        margin-bottom: 30px;
    }
    
    .box-dx{
        padding-top: 50px;
    }
    
    .arrow{
        font-size: 60px;
    }
    
    .second-container{
        height: 1600px;
        padding-top: 150px;
    }
    
    .sub-container1{
        width: 1600px;
        height: 1400px;
        margin: 0 auto;
    }
    
    .only-text{
        width: 100%;
        height: 120px;
        text-align: center;
        font-size: 60px;
    }
    
    .sub-text{
        width: 100%;
        height: 75px;
        padding-left: 180px;
        font-size: 25px;
    }
    
    .blocks-container{
        height: 1050px;
        width: 80%;
        margin: 0 auto;
        margin-top: 40px;
    }
    
    .first-block,.second-block,.third-block{
        height: 980px;
        border: grey 2px solid;
        width: 30%;
        margin: 20px;
    }
    
    
    
    .type-plan,.type-plan2,.type-plan3{
        width: 100%;
        height: 50px;
        border-bottom: grey 1px solid;
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
    }
    
    .monthly-price{
        width: 100%;
        height: 150px;
        font-size: 30px;
        font-weight: bold;
        line-height: 54px;
        padding-left: 55px;
    }
    
    .plan-price{
        font-size: 25px;
        font-weight: bold;
    }
    
    .plan-duration{
        font-size: 15px;
        color: grey;
        line-height: 18px;
    }
    
    
    
    .plan-description{
        width: 100%;
        height: 190px;
        padding:25px 55px 0px 55px
    }
    
    .plan-description ul li{
        list-style: none;
        margin-bottom: 25px;
    }
    
    .summary-plan ul li{
        list-style: none;
        margin-bottom: 20px;
    }
    
    .free-trial{
        width: 100%;
        height: 170px;
        margin-top: 20px;
        line-height: 80px;
        padding:15px 55px 0px 55px
    }
    
    .trial-button{
        width: 100%;
        height: 60px;
        background-color: #0077ff;
        line-height: 60px;
        color: white;
        text-align: center;
    }
    
    .free-trial hr{
        width: 50px;
        border: black 1px inset;   
    }
    
    .summary-plan{
        width: 100%;
        height: 350px;
        margin-top: 20px;
        padding: 15px 65px 0px 55px;
        line-height: 20px;
    }
    
    .highlight-text{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .check{
        color: rgb(55, 124, 202);
        font-weight: bold;
    }
    
    
    .third-container{
        height: 1300px;
        padding-top: 20px;
    }
    
    .sub-container2{
        max-width: 56%;
        height: 1200px;
        margin: 0 auto;
        padding-top: 20px;
    }
    
    .contact-us{
        width: 78%;
        height: 350px;
        margin: 0 auto;
        margin-bottom: 140px;
        margin-top: 80px;
    }
    
    .name-box{
        height: 50px;
        width: 100%;
        border: grey 2px solid;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
    }
    
    .big-plan{
        padding: 20px;
        width: 70%;
        border-bottom: grey 2px solid;
        border-left: grey 2px solid;
        height: 300px;
        line-height: 70px;
    }
    
    .button-plan{
        width: 30%;
        height: 300px;
        position: relative;
        right: 0;
        padding: 20px 0px 0px 0px;
        border-right: 2px grey solid ;
        border-bottom: 2px grey solid ;
    }
    
    
    .business-plan{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    
    
    .contact-company{
        width: 300px;
        height: 60px;
        background-color: #0077ff;
        line-height: 60px;
        color: white;
        text-align: center;
    }
    
    .find-partner{
        width: 78%;
        height:  600px;
        margin: 0 auto;
    }
    
    .img-template{
        height: 600px;
        width: 50%;
        background: url(../img/partner.png);
        background-size: cover;
        background-position: center;

    }
    
    .enter-now{
        height: 600px;
        width: 50%;
        line-height: 26px;
        padding:150px 60px 0px 110px ;
    }
    
    .search-partner{
        width: 200px;
        height: 50px;
        margin-top: 30px;
        background-color: white;
        border: black 2px solid ;
    }


    .fourth-container{
        height: 1800px;
    }

    .sub-container3{
        height: 1700px;
        max-width: 56%;
        margin: 0 auto;
    }

    .operations-title{
        font-size: 60px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 20px;
    }

    .service-description{
        width:450px;
        margin-left: 60px;
        margin-top: 20px;
        height: 750px;
    }


    .img-container{
        height: 400px;
        width: 100%;
        background-position: center;
        background-size: contain;
        margin: 0 auto;
        background-repeat: no-repeat;
    }

    .img1{
        background-image: url(../img/business-feature-switching-tools.png);
    }

    .img2{
        background-image: url(../img/business-feature-coordinate-it.png);
    }

    .img3{
        background-image: url(../img/business-feature-multi-device.png);
    }

    .img4{
        background-image: url(../img/business-feature-integrations-it.png);
    }

    .img5{
        background-image: url(../img/business-feature-send-files-it.png);
    }

    .img6{
        background-image: url(../img/business-feature-security.png);
    }

    .text-container{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 40px;
    }

    p{
        font-size: 20px;
    }


    .usage-amount{
        width: 1500px;

        margin: 0 auto;
        height: 200px;
        padding-right: 650px;
        line-height: 70px;
        margin-bottom: 20px;
    }


    .users-amount{
        font-size: 60px;
        font-weight: bold;
    }

    .explore-us{
    font-size: 20px;
    }


    .table-block{
        width: calc(100% / 3);
        height: 800px;
    }

    .brand{
        width: calc(100% / 2);
        height:400px ;
        text-align: center;
        
    }

    .designit{
        background-color: #A2D39B;
        line-height: 500px;
    }

    .svg1{
        width: 300px;
    }

    .asu{
        background-color: #61082B;
        line-height: 600px;
    }

    .svg2{
        width: 250px;
    }

    .florida{
        background-color: #0093CE;
        line-height: 450px;
    }

    .svg3{
        width: 250px;
    }

    .topps{
         background-color: #FE2B2B;
        line-height: 500px;
    }

    .svg4{
        width: 250px;
    }

    .bicycle{
        background-color: #D5001F;
        line-height: 500px;
    }

    .hearst{
        background-color: #B4D0E7;
        line-height: 400px;
    }

    .lonely-planet{
        background-color: #0D2481;
        line-height: 500px;
    }

    .clear-chanel{
        background-color: #FFD830;
        line-height: 550px;
    }

    .table-block{
        background-color: #a39e9e;
    }

    .table-block .logo-clear hr{
        width: 10%;
    }

    .centralblock{
        padding: 80px 140px 0px 100px
    }

    .fifth-container{
        height: 800px
    }

    .logo-clear{
        margin-bottom: 100px;
    }

    .txt-description{
        font-size: 25px;
    }

    .sixth-container{
        height: 500px;
        background-color: #B4D0E7;
        margin: 0 auto;
        padding-top: 150px;
    }

    .dropbox-business{
        font-size: 50px;
        font-weight: bold;
        color :#630e31 ;
    }

    .start-trial{
        width: 420px;
        height: 60px;
        background-color: #ffffff;
        line-height: 60px;
        color: black;
        text-align: center;
        font-size: 20px;
        margin-right: 50px;
    }

    .sub-container4{
        height: 200px;
        margin: 0 auto;
        width: 70%;
        padding: 50px 0px 0px 300px;
    }

    .seventh-container{
        height: 1000px;
        padding-top: 150px;
    }


    .sub-container5{
        height: 700px;
        margin: 0 auto;
        width: 70%;
        padding: 50px 0px 0px 300px
    }

    .question{
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 50px;
    }

    .paragraph{
        font-size: 30px;
        padding: 40px 0px
    }

    .arrow-down{
        font-size: 30px;
        width: 100px;
    }

    footer{
        height: 900px;
        background: black;
        padding-top: 20px;
        color: white;
    }

    .block-footer{
        height: 700px;
        width: 50%;
        margin: 0 auto ;
        padding-top: 150px
    }

    
    .container-dropbox{
        width: calc(100% / 5);
        height: 100%;
    }


    .heading-txt{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 40px;
        padding-top: 40px;
    }


    .list ul li{
        font-size: 20px;
        color: white;
        list-style: none;
        margin-bottom: 40px;
    }

    footer hr{
        width: 10%;
        margin: 0 auto;
        margin-top: 20px;
        margin-left: 715px;
        margin-bottom: 50px;
    }

    .language{
        margin-left: 715px;
    }


